<div class="col-md-12">
  <div class="card card-container">

    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="name">name</label>
        <input
          type="text"
          class="form-control"
          name="name"
          [(ngModel)]="form.name"
          required
          minlength="3"
          maxlength="50"
          #name="ngModel"
        />
        <div class="alert-danger" *ngIf="name.errors && f.submitted">
          <div *ngIf="name.errors.required">Nome é obrigatório</div>
          <div *ngIf="name.errors.minlength">
            Nome deve ter no minimo 3 caracteres
          </div>
          <div *ngIf="name.errors.maxlength">
            Nome deve ter no máximo 50 caracteres.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
          email
          #email="ngModel"
        />
        <div class="alert-danger" *ngIf="email.errors && f.submitted">
          <div *ngIf="email.errors.required">Email é obrigatório</div>
          <div *ngIf="email.errors.email">
            Email inválido
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
        />
        <div class="alert-danger" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors.required">Password é obrigatório</div>
          <div *ngIf="password.errors.minlength">
            Password deve ter no mínimo 6 characteres
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password confirmed</label>
        <input
          type="password"
          class="form-control"
          name="password_confirmation"
          [(ngModel)]="form.password_confirmation"
          required
          minlength="6"
          #password_confirmation="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="password_confirmation.errors && f.submitted"
        >
          <div *ngIf="password_confirmation.errors.required">password confirmation é obrigatório</div>
          <div *ngIf="password_confirmation.errors.minlength">
            Password deve ter no mínomo 6 characteres
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block">Sign Up</button>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Signup falhou!<br />{{ errorMessage }}
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Sucesso ao salvar!
    </div>
  </div>
</div>
